

<form name="f" action="/admin_check/" method="POST">
    {% csrf_token %}                                            
    <div>
        <input id="admin_id" name="admin_id_name" value="apple" readonly="readonly"/>
        <label for="admin_id">운영자 아이디</label>
    </div>
    <div >
        <input id="admin_pw" name="admin_pw_name" type="text" 
        onkeypress="if(event.keyCode==13) {empty_check(); return false;}" />
        <label for="admin_pw">운영자 비밀번호</label>                                                                                      
    </div>
    <div class="d-grid">
        <input class="btn btn-primary" type="button" value="운영자 확인"
         onclick="empty_check()"/>
    </div>    
</form>
<a role="button" class="btn btn-primary" href="/home">홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈홈</a>

<h1>{{yes_or_no}}<h1>
    <script>
    document.getElementById('admin_pw').val="";

        function empty_check(){
            if(f.admin_pw.value==""){
                alert("비어있음");
                document.getElementById('admin_pw').focus();
                return
            }else{
                f.submit();
            }
        }
        console.log("확인용"+"{{True_or_False}}")
        
        if("{{True_or_False}}"=="True"){
            location.href = "/new_keyword"        
        }else if("{{True_or_False}}"=="False"){
            alert("비밀번호 틀림");
            document.getElementById('admin_pw').val="";
            document.getElementById('admin_pw').focus();
        }    
    </script>


