<!DOCTYPE html>
<html>
<head>
   <title>이상형월드컵</title>
   <meta charset="utf-8">
</head>
<body>
   
<script language="JavaScript">
    var selected_objects=new Array();
    var count=0;
    var snum=0;

    function url_video() {
        var arrNumber=new Array();
            arrNumber[0] = "https://giant.gfycat.com/ImaginaryInconsequentialBasil.mp4";
            arrNumber[1] = "https://giant.gfycat.com/AptCapitalDogfish.mp4";
            arrNumber[2] = "https://giant.gfycat.com/JovialWhiteAddax.mp4";
            arrNumber[3] = "https://giant.gfycat.com/WellgroomedScornfulJanenschia.mp4";
            arrNumber[4] = "https://giant.gfycat.com/WavyHighlevelHammerheadbird.mp4";

            return arrNumber[Math.floor(Math.random() * arrNumber.length)];
            
    } 


    function change(num){
        
        alert("사진 선택함 다음 사진 2개 랜덤 실행")
        if (num==0){
            selected_objects[snum]=>document.getElementById('li1').src
        }else{
            selected_objects[snum]=>document.getElementById('li2').src
        }
        count++;       
 
        document.getElementById('li1').src=url_video();
        document.getElementById('li2').src=url_video();        
        
    }
  
    
    //배열 1개를 만들어 선택한 배열안에 다시 랜덤 호출 , 선택
    //1개 남을때 까지 반복
    //갯수조정하는 옵션 
    
   


</script>
<style>
    video{
        width: 500px;
        height: 500px;
    }
</style>

    <center>
        <h1>이상형 월드컵</h1>
        
        <p id="cal"></p>
        <video id="li1" onclick="change(0)" autoplay="" loop="" muted="" playsinline="" style="position:inherit;z-index:0;width:49%;margin-right:1%;height:30%; 
        object-position: 50% 10%; object-fit:cover; float:left; vertical-align:middle;" >
    </video>
            <script>document.getElementById('li1').src=url_video()</script>
    
    
        <video id="li2" onclick="change(1)" autoplay="" loop="" muted="" playsinline="" style="position:inherit;z-index:0;width:49%;margin-right:1%;height:30%; 
        object-position: 50% 10%; object-fit:cover; float:left; vertical-align:middle;" >
    </video>
        <script>document.getElementById('li2').src=url_video()</script>
        
                 
   </center>
</body>
</html>