{% comment %} <!DOCTYPE html>
<html>
<head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >
        <!-- jquery only -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- js only -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>    
    
</head>
<body>
    <div class="modal fade" id="exampleModal" role='dialog'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">연예인 브랜드평판</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <form role="form">
                        <div class="modal-body">
                            
                                <div class="modal-body" style="padding:10px">
                                <div class="row">
                                <div class="col-sm-12">
                                <label>총 라운드를 선택하세요.</label>
                                <select class="form-control" id="selRound" name="256" data-op="open" data-u="aau5y0">
                                <option value="256">256강</option><option value="128">128강</option><option value="64">64강</option><option value="32" selected="">32강</option><option value="16">16강</option><option value="8">8강</option><option value="4">4강</option> </select>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    
      <script language="javascript" type="text/javascript">
        $(window).on('load', function () {        
            $('#exampleModal').modal('show');       
        });
      </script>
    
    </body> {% endcomment %}

    <!DOCTYPE html>
<html>
<head>
    
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >
        <!-- jquery only -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- js only -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    
    
    

	<title>이상형월드컵</title>
	<meta charset="utf-8">
	<style>
		img{
			width: 500px;
			height: 500px;
		}
	</style>
</head>
<body>
    <div class="modal fade" id="exampleModal" role='dialog'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
                <div class="modal-body" style="padding:10px">
                    <div class="row">
                    <div class="col-sm-12">
                    <label>총 라운드를 선택하세요.</label>
                    <select class="form-control" id="selRound" name="256" data-op="open" data-u="aau5y0">
                    <option value="256">256강</option><option value="128">128강</option><option value="64">64강</option><option value="32" selected="">32강</option><option value="16">16강</option><option value="8">8강</option><option value="4">4강</option> </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >진행하기</button>
            </div>
          </div>
        </div>
      </div>
    
      <script language="javascript" type="text/javascript">
        $(window).on('load', function () {
            alert("1111111111111111111")        
            $('#exampleModal').modal('show');       
        });
      </script>
    </body>
    <body>   
	<center>
	<h1>이상형 월드컵</h1>
	<p id="rounds"></p>
    <p id="filter"></p>
    <table>
        <tr>
            <td>
                <figure>        
                    <img id="left_image" onclick="change(this.id)" >  
                    <center><span id="left_image_name" ></span></center>
                </figure>
            </td>
            <td>
                <figure> 
                    <img id="right_image" onclick="change(this.id)">
                    <center><figcaption id="right_image_name" ></figcaption></center>        
                </figure>
            </td>
        <tr>
    </table>    	
    </center>
    
	<script>        
        let all_url = [
            {% for object in all_url %}
                {
                name: "{{object.name}}",
                url:"{{object.url}}"
                },
            {% endfor %}
        ]
        var total=0;
		var images=[]; // src가 들어있는 리스트
		var sImages = []; // 선택된 src가 들어있는 리스트

		var cnt=0;  // 메인 list 에서 몇번 보여줫나
		var num=0;  // 메인 list 핸들링 num
		var sNum = 0; // 선택된 list 핸들링 num
		var cnt2=0;     // 총 라운드 수

        
		function show(round){    // 맨 처음 메인 list에 src 넣고 순서 랜덤 배치하기

			for(i=0; i<round; i++)
			{
				images[i]= all_url[i];
			}
			images.sort(function(a,b){return 0.5- Math.random()});
            
            showImg(num);
		}

		
        

		function showImg(num){  // num=0을 시작으로 메인 list 의 0,1  2,3  4,5  --- 2개씩 보여주기
            if(images.length==1){      //우승자 나왔을때

                /*document.getElementById('left_image').src=images[0].url;
                document.getElementById('right_image').src=images[0].url;
                document.getElementById('left_image_name').innerHTML=images[0].name;
                document.getElementById('right_image_name').innerHTML=images[0].name;*/
                
                winner_name = images[0].name;
                winner_src = images[0].url;   
                document.getElementById('rankname').value=images[0].name;
                //document.getElementById('ranking').value=images[0].name;
                document.getElementById('rankpush').action="/winner/?"+winner_name+"@"+winner_src;
                document.getElementById('rankpush').submit();                
                console.log("document.getElementById('ranking').value",document.getElementById('ranking').value)
                console.log("winner_name"+winner_name)             
                console.log("winner_src"+winner_src)             
                
                location.href = "/winner/?"+winner_name+"@"+winner_src;

            }else{
                document.getElementById('left_image').src=images[num].url;
                document.getElementById('left_image_name').innerHTML=images[num].name;

                document.getElementById('right_image').src=images[num+1].url;                
                document.getElementById('right_image_name').innerHTML=images[num+1].name;
                
                cnt2++; // 라운드 수
                document.getElementById('rounds').innerHTML=cnt2+"라운드";
            }
			
		}

		function change(id){     //change(0)왼쪽선택 or change(1)오른쪽선택
            console.log("cnt2 : "+cnt2+"라운드")
            console.log("cnt : "+cnt)
				cnt++;
				if(id == 'left_image'){      // 해당 이미지를 선택된 list로 넣어두기
                    left_click(id)
					sImages[sNum++] = images[num];                              
                }else
					sImages[sNum++] = images[num+1];                    
				num=num+2; //보여준 2개 다음 사진 두개 보여주기위해서
				
				if(cnt == images.length/2){

                    total++;
                    document.getElementById('filter').innerHTML=total+"번 걸러짐";

                    //images.splice(0)
                    images=[]
					for(i=0; i<sImages.length; i++){
						images[i] = sImages[i];						
					}
                    sImages=[]
                    console.log("변경전"+images.length)                    
					//images.splice(cnt);
                    console.log("변경후"+images.length)
					cnt = 0;
					num = 0;
					sNum = 0;					
				}
                showImg(num);			
		}   

        function left_click(clicked_id){
            alert(clicked_id)
            $("#clicked_id").animate({ 'margin-right' : +350},'fast');
        }

        function right_click(clicked_id){
            $(clicked_id).animate({marginRight: "250px"}, 5000);            
        }
        

        $(".btn btn-secondary").click(function(){
            alert("3333333333333333")
            var round = $(".col-sm-12").val();
            alert(round)
            show(round);     //리스트 16개의 객체 준비            
        });

        alert("222222222222222")
        



		//document.getElementById('cal').innerHTML=text;        
	</script>


    

</body>
</html>
