<!DOCTYPE html>
<html>
    <head>
        <title>이상형월드컵1등페이지</title>
        <meta charset="utf-8">
        <style>
            img{
                width: 500px;
                height: 500px;
            }
        </style>
    </head>
<body>
    {{winner_row}}
    <center>
        <h1>당신이 뽑은 1등</h1>        
            <figure>        
                <img id="url" src="{{winner_row.url}}">  
                <center><span id="name" >{{winner_row.name}}</span></center>
            </figure>

            <a role="button" href="/home">홈가기</a>
    </center>

</body>
</html>

<script language = "javascript">

    //document.writｅ(winner_name + " " + winner_src );   //페이지에 전달받은 값 띄워서 확인하기     

</script>

